<a href="https://colab.research.google.com/github/NasimShokrgozar/FirstSc/blob/main/session08_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
df_t=pd.read_excel('/content/Telco - classification or clustering.xls')
df_t.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat,churn
0,2,13,44,1,9,64,4,5,0,0,...,0,0,1.308333,NaN,NaN,2.014903,NaN,4.158883,1,1
1,3,11,33,1,7,136,5,5,0,0,...,1,0,1.481605,3.032546,NaN,2.724580,3.575151,4.912655,4,1
2,3,68,52,1,24,116,1,29,0,1,...,1,0,2.898671,2.890372,NaN,3.409496,NaN,4.753590,3,0
3,2,33,33,0,12,33,2,0,0,1,...,0,0,2.246015,NaN,NaN,NaN,NaN,3.496508,1,1
4,2,23,30,1,9,30,1,2,0,0,...,1,0,1.840550,NaN,NaN,NaN,NaN,3.401197,3,0

In [15]:
X=df_t.drop('churn',axis=1)
Y=df_t['churn']

In [16]:
X=X.fillna(0)

In [18]:
#نرمال سازی یک روش به منظور هم اسکیل کردن تمام فیچر ها
# در روش مین مکس داده ها به فضای صفر تا یک می روند
#روش دیگر استاندارد سازی است که  دادهای کمتر از میانگین را از صفر کوچکتر می کرد و بیشتر ها را از صفر بزرگتر 
from sklearn.preprocessing import MinMaxScaler
MMS=MinMaxScaler()
MMS.fit(X)
Xnormal=MMS.transform(X)
#Xnomal=MMS.fit_transform(X)
Xnormal=pd.DataFrame(Xnormal , columns=X.columns)# برای اینکه اسم سر ستون ها به حالت خود باقی بماند و به عدد تبدیل نشود این دستور کالمن را می نویسیم.
Xnormal

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,forward,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat
0,0.5,0.169014,0.440678,1.0,0.163636,0.033153,0.75,0.106383,0.0,0.0,...,1.0,0.0,0.0,0.300145,0.000000,0.000000,0.429284,0.000000,0.375641,0.000000
1,1.0,0.140845,0.254237,1.0,0.127273,0.076552,1.00,0.106383,0.0,0.0,...,1.0,1.0,0.0,0.336933,0.588468,0.000000,0.580483,0.757760,0.519983,1.000000
2,1.0,0.943662,0.576271,1.0,0.436364,0.064497,0.00,0.617021,0.0,1.0,...,0.0,1.0,0.0,0.637794,0.560879,0.000000,0.726408,0.000000,0.489523,0.666667
3,0.5,0.450704,0.254237,0.0,0.218182,0.014467,0.25,0.000000,0.0,1.0,...,0.0,0.0,0.0,0.499227,0.000000,0.000000,0.000000,0.000000,0.248802,0.000000
4,0.5,0.309859,0.203390,1.0,0.163636,0.012658,0.00,0.042553,0.0,0.0,...,1.0,1.0,0.0,0.413142,0.000000,0.000000,0.000000,0.000000,0.230551,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,0.126761,0.355932,0.0,0.000000,0.010850,0.50,0.000000,0.0,1.0,...,0.0,0.0,1.0,0.255619,0.000000,0.773979,0.000000,0.000000,0.210375,0.000000
996,0.0,0.084507,0.271186,0.0,0.036364,0.007836,1.00,0.106383,0.0,1.0,...,0.0,0.0,0.0,0.348666,0.000000,0.744935,0.000000,0.000000,0.171159,0.000000
997,1.0,0.929577,0.694915,0.0,0.727273,0.563593,1.00,0.702128,0.0,1.0,...,1.0,1.0,1.0,0.720143,0.672529,0.918734,0.761999,0.887362,0.890992,1.000000
998,1.0,0.971831,0.525424,0.0,0.327273,0.047016,0.25,0.468085,0.0,1.0,...,1.0,1.0,0.0,0.710813,0.681418,0.000000,0.687915,0.000000,0.434434,0.666667
999,1.0,0.690141,0.305085,1.0,0.127273,0.018083,0.50,0.063830,0.0,1.0,...,0.0,0.0,1.0,0.569377,0.000000,0.807407,0.594015,0.000000,0.280792,0.333333

In [14]:


Xnormal

,region,tenure,age,marital,address,income,ed,employ,retire,gender,...,forward,confer,ebill,loglong,logtoll,logequi,logcard,logwire,lninc,custcat
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN