<a href="https://colab.research.google.com/github/NasimShokrgozar/FirstSc/blob/main/Session07_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np

In [6]:
#ساخت دیتا فریم
df1=pd.DataFrame({'A':[1,2,3,4],'B':[1,2,3,4],'C':[2,3,4,5]})
df2=pd.DataFrame({'A':[3,4,5,6],'B':[4,5,6,7],'D':[6,7,8,9]})
df1

   A  B  C
0  1  1  2
1  2  2  3
2  3  3  4
3  4  4  5

In [4]:
np.zeros(6)

array([0., 0., 0., 0., 0., 0.])

In [5]:
np.ones(6)

array([1., 1., 1., 1., 1., 1.])

In [9]:
DF=df1.append(df2)
DF

<ipython-input-9-74abb26a9af6>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF=df1.append(df2)

   A  B    C    D
0  1  1  2.0  NaN
1  2  2  3.0  NaN
2  3  3  4.0  NaN
3  4  4  5.0  NaN
0  3  4  NaN  6.0
1  4  5  NaN  7.0
2  5  6  NaN  8.0
3  6  7  NaN  9.0

In [10]:
DF=df2.append(df1)
DF

<ipython-input-10-b8ecbdaeb3de>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF=df2.append(df1)

   A  B    D    C
0  3  4  6.0  NaN
1  4  5  7.0  NaN
2  5  6  8.0  NaN
3  6  7  9.0  NaN
0  1  1  NaN  2.0
1  2  2  NaN  3.0
2  3  3  NaN  4.0
3  4  4  NaN  5.0

In [11]:
# سورت ستون ها در دستور اپند
DF=df2.append(df1,sort=True)
DF

<ipython-input-11-c3eea14efd92>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF=df2.append(df1,sort=True)

   A  B    C    D
0  3  4  NaN  6.0
1  4  5  NaN  7.0
2  5  6  NaN  8.0
3  6  7  NaN  9.0
0  1  1  2.0  NaN
1  2  2  3.0  NaN
2  3  3  4.0  NaN
3  4  4  5.0  NaN

In [12]:
# اپند چند دیتا فریم
DF=df2.append([df1,df2],sort=True)
DF

<ipython-input-12-28b4f167309e>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF=df2.append([df1,df2],sort=True)

   A  B    C    D
0  3  4  NaN  6.0
1  4  5  NaN  7.0
2  5  6  NaN  8.0
3  6  7  NaN  9.0
0  1  1  2.0  NaN
1  2  2  3.0  NaN
2  3  3  4.0  NaN
3  4  4  5.0  NaN
0  3  4  NaN  6.0
1  4  5  NaN  7.0
2  5  6  NaN  8.0
3  6  7  NaN  9.0

In [14]:
# مشکل این اپند بودن ایندکس تکراری است
df_=DF.reset_index()
df_

    index  A  B    C    D
0       0  3  4  NaN  6.0
1       1  4  5  NaN  7.0
2       2  5  6  NaN  8.0
3       3  6  7  NaN  9.0
4       0  1  1  2.0  NaN
5       1  2  2  3.0  NaN
6       2  3  3  4.0  NaN
7       3  4  4  5.0  NaN
8       0  3  4  NaN  6.0
9       1  4  5  NaN  7.0
10      2  5  6  NaN  8.0
11      3  6  7  NaN  9.0

In [15]:
#حذف ستون ایندکس
df_=DF.reset_index().iloc[:,1:]
df_

    A  B    C    D
0   3  4  NaN  6.0
1   4  5  NaN  7.0
2   5  6  NaN  8.0
3   6  7  NaN  9.0
4   1  1  2.0  NaN
5   2  2  3.0  NaN
6   3  3  4.0  NaN
7   4  4  5.0  NaN
8   3  4  NaN  6.0
9   4  5  NaN  7.0
10  5  6  NaN  8.0
11  6  7  NaN  9.0

In [17]:
# دستور جوین یا مرج
df_j=pd.merge(df1,df2,how='inner',on="A")#inner,right,outer
df_j

   A  B_x  C  B_y  D
0  3    3  4    4  6
1  4    4  5    5  7

In [19]:
df_j=pd.merge(df1,df2,how='left',on='A')
df_j

   A  B_x  C  B_y    D
0  1    1  2  NaN  NaN
1  2    2  3  NaN  NaN
2  3    3  4  4.0  6.0
3  4    4  5  5.0  7.0

In [20]:
df_j=pd.merge(df1,df2,how='left',on=['A','B'])
df_j

   A  B  C   D
0  1  1  2 NaN
1  2  2  3 NaN
2  3  3  4 NaN
3  4  4  5 NaN

In [32]:
#تمرین -دو دیتا فریم  بسازید که یک ستون به نام آی دی داشته باشند. یک ستون بدهی و دومی میانگین و جوین بزنید
df1=pd.DataFrame({'id':[1,2,3,4,5],'Bedehi':[23,45,65,43,55]})
df2=pd.DataFrame({'id':[1,2,6,7,8],'Average':[65,34,65,87,95]})
DF=df1.append(df2)
DF

<ipython-input-32-ad77f193f25a>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF=df1.append(df2)

   id  Bedehi  Average
0   1    23.0      NaN
1   2    45.0      NaN
2   3    65.0      NaN
3   4    43.0      NaN
4   5    55.0      NaN
0   1     NaN     65.0
1   2     NaN     34.0
2   6     NaN     65.0
3   7     NaN     87.0
4   8     NaN     95.0

In [34]:
DF_j=pd.merge(df1,df2 , how='inner',on='id')
DF_j

   id  Bedehi  Average
0   1      23       65
1   2      45       34